<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="dist/app.css">
  </head>
  <body>
 <!-- contenitore app  -->
  <div class="wrapper" id="root">

    <!-- contenitore jumbotron/header with dropdown -->
    <div class="container">

      <div class="jumbotron">
        <header>
          <img  src="images/avada-music-logo.png" alt="">
          <i class="fas fa-bars icon" ></i>
          <!-- <i class="fas fa-bars icon" @click="dropdownOn"></i> -->
        </header>

        <div class="jumbotron-text">
          <h1>Untold Stories</h1>
          <div class="caption">There is an untold stories behind every favorite song.</div>
          <div class="">
            <div class="btn-one">LATEST ALBUM</div>
            <div class="btn-two">LIVE DATES</div>
          </div>
        </div>

      </div>

      <div class="dropdown">
      <!-- <div class="dropdown" :style="'opacity:' + opacityList[opacityIdx]"> -->
        <header>
          <img src="images/avada-music-logo.png" alt="">
          <i class="fas fa-times icon"></i>
        </header>

        <ul v-for="item in dropdownVoices" :key="item.voice">
          <li> {{item.voice}} </li>
        </ul>

      </div>

    </div>
    <!-- contenitore jumbotron/header with dropdown end -->

    <!-- contenitore sub jumbotron -->
    <div class="under-jumbo">
      <div class="pinkbar"></div>
      <h2>Music Is Life</h2>
      <hr>
      <p class="under-jumbo-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus cursus egestas. Cras quis vehicula <br> quam, a tempus velit. Ut feugiat augue in sodales luctus
      </p>
    </div>
    <!-- contenitore sub jumbotron end -->

    <!-- contenitore tabella img -->
    <div class="tab-img">
      <h2>Latest Band News</h2>
      <hr>
      <p class="tab-img-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus cursus egestas. Cras quis vehicula <br> quam, a tempus velit. Ut feugiat augue in sodales luctus
      </p>
      <div class="img-container">
        <div class="left">
          <div class="first">
            <div class="card-top">
              <p class="card-top-title">{{titles[2]}}</p>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title"><h4>{{titles[2]}}</h4></div>
              <p class="card-bottom-text">{{paragraphCard}}</p>
            </div>
          </div>
          <div class="second">
            <div class="sleft fl">
              <div class="card-top">
                <p class="card-top-title">{{titles[3]}}</p>
              </div>
              <div class="card-bottom">
                <div class="card-bottom-title"><h4>{{titles[3]}}</h4></div>
                <p class="card-bottom-text">{{paragraphCard}}</p>
              </div>
            </div>
            <div class="sright fr">
              <div class="card-top">
                <p class="card-top-title">{{titles[4]}}</p>
              </div>
              <div class="card-bottom">
                <div class="card-bottom-title"><h4>{{titles[4]}}</h4></div>
                <p class="card-bottom-text">{{paragraphCard}}</p>
              </div>
            </div>
          </div>
          <div class="third">
            <div class="card-top">
              <p class="card-top-title">{{titles[5]}}</p>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title"><h4>{{titles[5]}}</h4></div>
              <p class="card-bottom-text">{{paragraphCard}}</p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="up">
            <div class="card-top">
              <p class="card-top-title">{{titles[0]}}</p>
            </div>
            <div class="card-bottom">
              <div class="card-bottom-title"><h4>{{titles[0]}}</h4></div>
              <p class="card-bottom-text">{{paragraphCard}}</p>
            </div>
          </div>
          <div class="down">
            <div class="card-top">
              <p class="card-top-title">{{titles[1]}}</p>
            </div>
            <div class="card-bottom">
              <h4 class="card-bottom-title">{{titles[1]}}</h4>
              <p class="card-bottom-text">{{paragraphCard}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fine contenitore tabella img -->

    <!-- latest news -->
    <div class="news-bar">
      <p>VIEW ALL LATEST NEWS</p>
    </div>
    <!-- fine latest news -->

    <!-- video container -->
    <div class="video-container">
      <p>I just listened to it and said to myself, “Man, I really love this <br> album.” Still, today, it just sounds so fresh. It sounds full of ideas. <br> These guys knew what they were doing. They’re good. And they’re <br> inventive. I haven’t heard anything this year that’s as inventive. I <br> don’t really expect to.”</p>
      <img src="images/band_interview_play_icon.png" alt="">
    </div>
    <!-- fine video container -->

    <!-- faq section -->
    <div class="faq-container">
      <h2>Live Dates</h2>
      <p>{{commonParagraph}}</p>
    </div>
    <!-- faq section fine -->

    <!-- date section -->
    <div class="news-bar">
      <p>VIEW ALL LIVE DATES</p>
    </div>
    <!-- date section -->

    <!-- footer logo start -->
    <div class="footer-logo">
      <div class="foot-container">
        <span><img src="images/logo_footer.png"></span>
        <span class="listfoot">
          <ul v-for="item in dropdownVoices" :key="item.voice">
            <li> {{item.voice}} </li>
          </ul>
        </span>
      </div>
    </div>
    <!-- footer logo end -->

    <!-- copyright footer -->
    <div class="copy-footer">
      <div class="foot-container">
        <div class="copy-list-left">
          <ul v-for="item in copyrightVoices" :key="item.voice">
            <li> {{item.voice}} </li>
          </ul>
        </div>
        <div class="copy-list-right">
          <ul v-for="item in socialVoices" :key="item.voice">
            <li> <i v-bind:class="item.voice"></i> </li>
          </ul>
        </div>
      </div>-
    </div>
    <!-- copyright footer end -->
  </div>
 <!-- fine contenitore app -->



    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
