@import "colors";
@import "positions";
@import "variable";
// classi comuni
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.icon{
  font-size: 45px;
  color: $color-white;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.isActive{
  opacity: 1;
}

.btn-one{
  @include btn;
  background-color: $color-pink;
  color: $color-white;
  margin-right: 10px;
  font-size: 15px;
}

.btn-one:hover{
  background-color: $color-white;
  color: black;
}

.btn-two{
  @include btn;
  border: 1px solid $color-white;
  color: $color-white;
  font-size: 15px;
}
// fine classi comuni

// jumbotron con header inizio
.container{
  position: relative;
}

.jumbotron{
 width: 100vw;
 height:100vh;
 background-image: url('../images/home_slider.jpg');
 background-color: #cccccc;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 50px;
  & > header{
    width: 90%;
    margin: 0 auto;
    height: 80px;
    @include fl-row-sb;
  }
  &-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h1{
      font-size: 150px;
      padding-top: 150px;
      color: $color-white;
    }
    & > .caption{
      font-size: 25px;
      font-style: italic;
      padding: 35px 0 35px 0;
      color: $color-white;
    }
  }
}

.dropdown{
  width: 100vw;
  height:100vh;
  padding-top: 50px;
  background-color: $color-pink;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  // &:hover{
  //   opacity: 1;
  // }
  & > header{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    @include fl-row-sb;
  }
  & > ul{
    list-style: none;
    text-align: center;
    padding-top: 25px;
    & > li {
      color: $color-white;
      font-size: 35px;
      padding: 25px 0 25px 0;
    }
  }

}
// jumbotron con header fine
